/* css styles */
b,strong {font-weight: bold}

blockquote {
    background-color: #ffffff;
    border-left: 0px solid #ffffff; 
    margin: 0em 0.5em; 
    padding: 0em 0em;
    padding-bottom: 2em;
    text-align: center;
    p{
        font-style: italic;
        font-size: 18px;
        color: #5d5d5d;
    }
  }

.buttons {
    background-color: #ffffff;
    margin: 0em 0; 
    padding: 0em 0em;
    font-size: 18px;
    color: secondary;
    text-align: center;
  }

.mytitle {
    margin-bottom: 0px;
    text-align: center;
    padding: 0em 0em;
    padding-bottom: 1em;
    p{
        font-size: 32px;
        font-weight: bold;
        color: #333;
    }
}

.thesis-page-image {
  display: block;
  width: 100%; 
  height: calc(100vw / 4);
  max-height: calc(100vw / 4); 
  object-fit: cover;
}

.whoami-page-image {
  display: block;
  width: 100%; 
  height: calc(100vw / 7);
  max-height: calc(100vw / 7);
  object-fit: cover;
}